extends layout

block content
  h1 Book instance delete
    h4 #[strong Title: ] #{bookinstance.book.title}
    h4 #[strong Id: ] #{bookinstance._id} - #[strong Status: ] #{bookinstance.status} 

    p
    p Do you really want to delete this BookInstance?

    form(method='POST' action='')
        div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

        button.btn.btn-primary(type='submit') Delete 